<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${ALLUSERSPROFILE}\Application Data\AdvancedLogViewer\Logs\AdvancedLogViewer_[%processid].log"/>
      <appendToFile value="false"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="*** AdvancedLogViewer v%property{Assembly.Version}, .Net Runtime %property{Runtime.Version} ***%newline"/>
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline"/>
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
