/**/bin/
/**/obj/
sql/
*.suo
/Bin/
!/Release/Bin/
/Src/AdvancedLogBrowser/obj/
/Src/AdvancedLogViewer/obj/
/Src/AdvancedLogViewer.BL/obj/
/Src/AdvancedLogViewer.WPF/obj/
/Src/AdvancedLogViewer.Common/obj/
/Src/**/*csproj.user
/Src/Installer/obj/
/Src/Installer/*.v11.suo
/Src/Tests/AdvancedLogViewer.Common.Tests/bin/
/Src/Tests/AdvancedLogViewer.Common.Tests/obj/
/Build/Installer/out/**
